h1 {
    color: green;
}

img {
    width: 20%;
}

input {
    padding: 10px;
    border: 1px solid gray;
}

button {
    padding: 8.5px;
    border: 1px solid gray;
    color: white;
    background: tomato;
}